In [1]:
import kaggle
file_path = "..\\..\\data\\01_Raw"
kaggle.api.dataset_download_files(
                    dataset="shrutimechlearn/churn-modelling",
                    path=file_path,
                    unzip=True
                )
print(f'the raw dataset has been downloaded and saved in this path: {file_path}')

Dataset URL: https://www.kaggle.com/datasets/shrutimechlearn/churn-modelling
the raw dataset has been downloaded and saved in this path: ..\..\data\01_Raw

In [2]:
import pandas as pd

raw_dataset = pd.read_csv(f"{file_path}\\Churn_Modelling.csv")
raw_dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
raw_dataset.drop_duplicates(inplace=True)
raw_dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(raw_dataset, random_state=42, test_size=0.2)

In [5]:
train

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9254,9255,15601116,P'an,686,France,Male,32,6,0.00,2,1,1,179093.26,0
1561,1562,15766374,Leak,632,Germany,Male,42,4,119624.60,2,1,1,195978.86,0
1670,1671,15716994,Green,559,Spain,Male,24,3,114739.92,1,1,0,85891.02,1
6087,6088,15730759,Chukwudi,561,France,Female,27,9,135637.00,1,1,0,153080.40,1
6669,6670,15797900,Chinomso,517,France,Male,56,9,142147.32,1,0,0,39488.04,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,5735,15596647,Henderson,768,France,Male,54,8,69712.74,1,1,1,69381.05,0
5191,5192,15681075,Chukwualuka,682,France,Female,58,1,0.00,1,1,1,706.50,0
5390,5391,15573851,Macrossan,735,France,Female,38,1,0.00,3,0,0,92220.12,1
860,861,15807663,McGregor,667,France,Male,43,8,190227.46,1,1,0,97508.04,1
7270,7271,15706268,Smith,697,Germany,Male,51,1,147910.30,1,1,1,53581.14,0

In [6]:
test

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6252,6253,15687492,Anderson,596,Germany,Male,32,3,96709.07,2,0,0,41788.37,0
4684,4685,15736963,Herring,623,France,Male,43,1,0.00,2,1,1,146379.30,0
1731,1732,15721730,Amechi,601,Spain,Female,44,4,0.00,2,1,0,58561.31,0
4742,4743,15762134,Liang,506,Germany,Male,59,8,119152.10,2,1,1,170679.74,0
4521,4522,15648898,Chuang,560,Spain,Female,27,7,124995.98,1,1,1,114669.79,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6412,6413,15598982,Klein,602,Germany,Female,53,5,98268.84,1,0,1,45038.29,1
8285,8286,15572631,Ndubuisi,609,France,Male,25,10,0.00,1,0,1,109895.16,0
7853,7854,15746674,Miller,730,France,Female,47,7,0.00,1,1,0,33373.26,1
1095,1096,15689081,Wu,692,France,Male,29,4,0.00,1,1,0,76755.99,1
6929,6930,15651627,White,628,Germany,Male,39,1,115341.19,1,1,1,107674.30,1